body{
	background-color: black;
	color: white;
}

.page-header {
	margin: 0;
	padding: 10px;
}

#directions{
	padding: 35px;
	margin: 0;
	line-height: 40px;
}

#green{
	position: relative
}

#orange{
	position: relative;
	left: 100px;
	bottom: 95px;
}
#blue{
	position: relative;
	left: 200px;
	bottom: 195px;
}

#red{
	position: relative;
	left: 300px;
	bottom: 295px;